<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

    <body>
        <% if (locals.fileLink !=null) { %>
            <div>
                <h4>File Uploaded</h4>
                <a href="<%= locals.fileLink%>">
                    <%= locals.fileLink%>
                </a>
            </div>
            <% } %>

                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="file">File:</label>
                    <input type="file" id="file" name="file" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                    <button>Send</button>
                </form>

    </body>

</html>