<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter password</title>
</head> -->
<%- include('./partials/head.ejs')%>

    <body>

        <div class="main">

            <form method="post">
                <label for="password">Password:</label>
                <input class="inps pwd" type="password" id="password" name="password" required><br>
                <button class="btn" type="submit">Download</button>
            </form>
        </div>
        <% if(locals.error) { %>
            <div class="wrong">
                <p>
                    Wrong Password
                </p>
                <p style="color:blue">
                    <!-- Downloads: <%= locals.downloadCount%> -->
                </p>
            </div>
            <% }%>
    </body>

</html>