<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter password</title>
</head>

<body>

    <% if(locals.error) { %>
        <div>
            <p style="color:red">
                incorreect
            </p><br>
            <p style="color:blue">
                Downloads: <%= locals.downloadCount%>
            </p>
        </div>
        <% } %>
            <form method="post">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button>Download</button>
            </form>
</body>

</html>