body {
    background-color: rgb(104, 104, 231);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.super {
    height: 100%;

}

.main {
    border: 2px dashed white;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 80px auto;
}

.pwd {
    padding: 0 15px;
    border-radius: 8px;
    height: 30px;
    font-size: medium;
}

.file {
    padding: 0 15px;
    border-radius: 8px;
    height: 30px;

}

.inps {
    margin: 15px 0;
}


.btn {
    margin: 40px 0;
    padding: 8px 35px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: none;
}

.btn:hover {
    border: 3px solid black;
}

.link-main {}

a {
    text-decoration: none;
}

.wrong {
    height: max-content;
    background-color: rgb(215, 63, 63);
    font-size: larger;
    text-align: center;
}